<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                         "http://mybatis.org/dtd/mybatis-3-config.dtd">
                         

<!-- 
	방법 1 : 만일 mybatipes를 사용하면 DOCTYPE configuration 위치 등에 mapper가 들어있으므로
	
	만들어진 mapper xml 파일을 복사한 후 mapper를 configuration Config config 등으로 수정하면 된다.
	
	지금은 원래 기본방식인 
	
	방법 2로 작성함
	
	기본 xml을 만든 후 
	
	위에 부분을 복붙

 -->
                         

<configuration>
<!-- 	<typeAliases> -->
<!-- 		<typeAlias alias="BoardVO" type="com.hshs.webProject.BoardVO.BoardVO"/> -->
<!-- 	</typeAliases> -->
</configuration>
